  <launch>
    <arg name="publish_robot_state" default="true"/>
    <arg name="load_robot_description" default="true"/>
    <arg name="load_map" default="true"/>
    <arg name="map_size_x" value="20.0"/>
    <arg name="map_size_y" value="8.0"/>
    <arg name="map_size_z" value=" 3.0"/>

    <!-- Load robot description -->
    <param if="$(arg load_robot_description)" name="robot_description" textfile="$(find dobot_description)/urdf/cr10_robot.urdf" />

    <!-- Robot state publisher -->
    <node if="$(arg publish_robot_state)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <arg name="odom_topic" value="/mm/car/odom" />
    <arg name="joint_state_topic" value="/mm/mani/joint_state" />
    <arg name="joint_cmd_topic" value="/mm_controller_node/joint_cmd" />
    <arg name="gripper_cmd_topic" value="/mm_controller_node/gripper_cmd"/>
    <arg name="gripper_state_topic" value="/mm/mani/gripper_state"/>
    <arg name="map_resolution" value="0.05" />


    <arg name="generate_map_size_x" default="8"/>
    <arg name="generate_map_size_y" default="8"/>
    <arg name="generate_map_size_z" default="3"/>
    <arg name="exp_param_file" default="$(find remani_planner)/config/remani_planner_exp0.yaml"/>
    <arg name="mm_param_file" default="$(find remani_planner)/config/mm_param.yaml"/>
    <arg name="planner_param_file" default="$(find remani_planner)/config/remani_planner_param.yaml"/>
    <arg name="override_planner_profile" default="false"/>
    <arg name="profile_global_plan" default="true"/>
    <arg name="profile_planning_horizon" default="5.0"/>
    <arg name="profile_max_loop_num" default="5000"/>
    <arg name="profile_max_sample_time" default="0.2"/>
    <arg name="profile_enable_rrt_rewire" default="true"/>
    <arg name="profile_rrt_max_rewire_neighbors" default="0"/>
    <arg name="profile_rrt_collision_pos_resolution" default="0.01"/>
    <arg name="profile_rrt_collision_joint_resolution" default="0.01"/>
    <arg name="profile_rrt_collision_min_checks" default="10"/>
    <arg name="profile_enable_mani_oneshot" default="true"/>
    <arg name="profile_max_oneshot_calls" default="0"/>

    <!-- main algorithm params -->
    <include file="$(find remani_planner)/launch/advanced_param_sim.xml">
      <arg name="map_size_x_"             value="$(arg map_size_x)"/>
      <arg name="map_size_y_"             value="$(arg map_size_y)"/>
      <arg name="map_size_z_"             value="$(arg map_size_z)"/>
      <arg name="exp_param_file"          value="$(arg exp_param_file)"/>
      <!-- camera pose: transform of camera frame in the world frame -->
      <!-- depth topic: depth image, 640x480 by default -->
      <!-- don't set cloud_topic if you already set these ones! -->
      <arg name="odometry_topic" value="$(arg odom_topic)"/>
      <arg name="joint_state_topic" value="$(arg joint_state_topic)"/>
      <arg name="joint_cmd_topic" value="$(arg joint_cmd_topic)"/>
      <arg name="gripper_cmd_topic" value="$(arg gripper_cmd_topic)"/>
      <arg name="gripper_state_topic" value="$(arg gripper_state_topic)"/>
      <arg name="camera_pose_topic" value="pcl_render_node/camera_pose"/>
      <arg name="depth_topic" value="pcl_render_node/depth"/>
      <arg name="mm_param_file" value="$(arg mm_param_file)"/>
      <arg name="planner_param_file" value="$(arg planner_param_file)"/>
      <arg name="override_planner_profile" value="$(arg override_planner_profile)"/>
      <arg name="profile_global_plan" value="$(arg profile_global_plan)"/>
      <arg name="profile_planning_horizon" value="$(arg profile_planning_horizon)"/>
      <arg name="profile_max_loop_num" value="$(arg profile_max_loop_num)"/>
      <arg name="profile_max_sample_time" value="$(arg profile_max_sample_time)"/>
      <arg name="profile_enable_rrt_rewire" value="$(arg profile_enable_rrt_rewire)"/>
      <arg name="profile_rrt_max_rewire_neighbors" value="$(arg profile_rrt_max_rewire_neighbors)"/>
      <arg name="profile_rrt_collision_pos_resolution" value="$(arg profile_rrt_collision_pos_resolution)"/>
      <arg name="profile_rrt_collision_joint_resolution" value="$(arg profile_rrt_collision_joint_resolution)"/>
      <arg name="profile_rrt_collision_min_checks" value="$(arg profile_rrt_collision_min_checks)"/>
      <arg name="profile_enable_mani_oneshot" value="$(arg profile_enable_mani_oneshot)"/>
      <arg name="profile_max_oneshot_calls" value="$(arg profile_max_oneshot_calls)"/>
      <!-- topic of point cloud measurement, such as from LIDAR  -->
      <!-- don't set camera pose and depth, if you already set this one! -->
      <arg name="cloud_topic" value="pcl_render_node/cloud"/>
      <!-- intrinsic params of the depth camera -->
      <arg name="cx" value="321.04638671875"/>
      <arg name="cy" value="243.44969177246094"/>
      <arg name="fx" value="387.229248046875"/>
      <arg name="fy" value="387.229248046875"/>
    </include>

    <!-- use simulator -->
    <include file="$(find remani_planner)/launch/simulator.xml">
      <arg name="map_size_x_" value="$(arg map_size_x)"/>
      <arg name="map_size_y_" value="$(arg map_size_y)"/>
      <arg name="map_size_z_" value="$(arg map_size_z)"/>
      <arg name="exp_param_file" value="$(arg exp_param_file)"/>
      <arg name="odometry_topic" value="$(arg odom_topic)" />
      <arg name="joint_state_topic" value="$(arg joint_state_topic)" />
      <arg name="joint_cmd_topic" value="$(arg joint_cmd_topic)" />
      <arg name="gripper_cmd_topic" value="$(arg gripper_cmd_topic)"/>
      <arg name="gripper_state_topic" value="$(arg gripper_state_topic)"/>
      <arg name="map_resolution" value="$(arg map_resolution)" />
      <arg name="mm_param_file" value="$(arg mm_param_file)" />
    </include>

    <!-- map -->
    <node if="$(arg load_map)" pkg ="map_generator" name ="map_generator" type ="map_generator" output = "screen">   
        <rosparam file="$(arg mm_param_file)"/>
        <rosparam file="$(arg exp_param_file)"/>
        <param name="map/x_size"     value="$(arg generate_map_size_x)" />
        <param name="map/y_size"     value="$(arg generate_map_size_y)" />
        <param name="map/z_size"     value="$(arg generate_map_size_z)" />
        <param name="map/resolution" value="$(arg map_resolution)"/>    
    <param name="map/seed"    value="30"/>
        <param name="map/add_test_bar" value="true"/>
        <param name="map/test_bar_only" value="true"/>
        <param name="map/test_bar_x" value="-0.6"/>
        <param name="map/test_bar_y" value="0.0"/>
        <param name="map/test_bar_length" value="6.0"/>
        <param name="map/test_bar_width" value="0.40"/>
        <!-- Raise the crossbar: the mobile base can pass underneath. -->
        <param name="map/test_bar_bottom" value="1.50"/>
        <param name="map/test_bar_height" value="0.40"/>
        
        <param name="map/obs_num"    value="20"/>
        <param name="map/float_obs_num"    value="30"/>      

        <param name="ObstacleShape/radius_l" value="0.3"/>
        <param name="ObstacleShape/radius_h" value="0.5"/>        
        <param name="ObstacleShape/z_l" value="0.9"/>
        <param name="ObstacleShape/z_h" value="1.2"/>
        <param name="ObstacleShape/theta" value="0.5"/>
    
        <param name="pub_rate"   value="1.0"/>  
        <param name="min_distance" value="1.2 "/>         
    </node>

  </launch>
