<launch>
  <arg name="pcd_file"
       default="$(find remani_planner)/../../scans_bottom_xyzRemove_filtered/scansdibu_xyzRemove_filtered_1cm.pcd"/>
  <!-- A static world-frame PCD must enter GridMap through the global-map
       callback (GridMap::cloudCallback), which is subscribed to
       /map_generator/global_cloud.  Publishing it on /pcl_render_node/cloud
       instead would feed GridMap::cloudOdomCallback, which interprets the
       points as a body-frame depth scan and re-transforms them by the camera
       pose. -->
  <arg name="topic" default="/map_generator/global_cloud"/>
  <arg name="voxel_leaf_size" default="0.0"/>
  <arg name="pose_topic" default="/initialpose"/>
  <arg name="initial_pose" default="[]"/>
  <arg name="twc_tx" default="0.0"/>
  <arg name="twc_ty" default="0.0"/>
  <arg name="twc_tz" default="0.0"/>
  <arg name="twc_roll" default="0.0"/>
  <arg name="twc_pitch" default="0.0"/>
  <arg name="twc_yaw" default="0.0"/>
  <node pkg="remani_planner" type="static_pcd_publisher.py"
        name="static_pcd_publisher" output="screen">
    <param name="pcd_file" value="$(arg pcd_file)"/>
    <param name="frame_id" value="world"/>
    <param name="topic" value="$(arg topic)"/>
    <param name="rate" value="1.0"/>
    <param name="voxel_leaf_size" value="$(arg voxel_leaf_size)"/>
    <param name="pose_topic" value="$(arg pose_topic)"/>
    <param name="initial_pose" type="yaml" value="$(arg initial_pose)"/>
    <param name="T_world_cloud/translation" type="yaml"
           value="[$(arg twc_tx), $(arg twc_ty), $(arg twc_tz)]"/>
    <param name="T_world_cloud/rpy" type="yaml"
           value="[$(arg twc_roll), $(arg twc_pitch), $(arg twc_yaw)]"/>
  </node>
</launch>
